<ion-view>
    <ion-header-bar class="bar-balanced">
        <a class="button button-clear icon ion-arrow-left-c" ng-click="$ionicGoBack()">返回</a>
        <h2 class="title">查看详情</h2>
    </ion-header-bar>
    <ion-content>
        <h2>到底我们是大脑的主人，还是大脑是我们的主人？</h2>
        <p>
            目标设定得不恰当会使我们的大脑成为抗拒任务执行的阻力。由于意志力是消耗品，当它的力量已无法抵挡大脑拒绝行动的力量时，这项行动就停止了。
            所以，唯有设定“微目标”才能战胜大脑，让我们没有丝毫消极情绪地行动起来。
            所谓“微目标”，就是那种小到不可思议的目标：每天做一个俯卧撑、每天写50字，每天读两页书。
        </p>
        <img src="./images/details.jpg" >
    </ion-content>
</ion-view>
