<ion-tabs class="tabs-icon-top tabs-calm has-footer">
    <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tabs/first">
        <ion-nav-view name="first"></ion-nav-view>
    </ion-tab>
    <ion-tab title="热点" badge="5" badge-style="badge-assertive" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tabs/Hotspot">
        <ion-nav-view name="Hotspot"></ion-nav-view>
    </ion-tab>
    <ion-tab title="帖子" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tabs/card">
        <ion-nav-view name="card"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tabs/user">
        <ion-nav-view name="user"></ion-nav-view>
    </ion-tab>

</ion-tabs>