<ion-view>
    <ion-header-bar class="bar-balanced">
        <h2 class="title" style="text-align: center">用户</h2>
    </ion-header-bar>
    <ion-content>
        <ul class="list list-borderless">
            <li class="item item-image " >
                <img src="./images/person.png" style="width:25%;margin-top:5%;border-radius:10px">
                <p style="margin-top:3%;font-size: 18px">立即登录</p>
            </li>
            <li class="item button-bar ">
                <a class="button icon ion-android-star-outline ">收藏</a>
                <a class="button icon ion-email ">消息</a>
        </ul>
        <section class="list">
            <li class="item item-toggle">
                显示文章图片
                <label class="toggle toggle-balanced">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-divider">关于</li>
            <li class="item">当前版本
                <span class="item-note">v2.03</span>
            </li>
            <li class="item">意见反馈</li>
            <li class="item">关于作者</li>
            <li class="item">帮助</li>
        </section>
    </ion-content>

</ion-view>