<div class="modal">
    <ion-header-bar class="bar-positive">
        <a class="button button-clear" ng-click="closeModal()" >关闭</a>
        <h2 class="title">发布话题</h2>
        <a class="button button-clear" ng-click="submit()">提交</a>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input">
                <input id="publish" type="text" placeholder="请输入主题">
            </div>
            <div class="item item-input">
                <textarea id='content' placeholder="请输入内容" style="height:150px"></textarea>
            </div>
        </div>
    </ion-content>
</div>